@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@mixin base-text {
    font-family: 'Montserrat', sans-serif;
}

@mixin base-shadow {
    box-shadow: 0px 3px 11px -2px rgba(0, 0, 0, 0.46);
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
}